
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("Customers", "Index", "Customers")</li>
            <li>@Html.ActionLink("Movies", "Index", "Movies")</li>*@


                @*<li>@Html.ActionLink("Processes", "Index", "Processes")</li>
                <li>@Html.ActionLink("Forms", "Index", "Forms")</li>
                <li>@Html.ActionLink("Instances", "Index", "Instances")</li>*@

                <li class="nav-item">
                    <a class="nav-link" href="/processes">Processes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/instance">Instances</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/form">Forms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/instance/NewRequest/">New request</a>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>